body{
	margin:0;
	padding:0;
}

p {
	line-height: 1.5;
	font-size: 20px;
}

.landing {
/*dot -> class*/
	text-align: center;
	font-family: 'Copperplate';
	font-size: 25px;
	/*background: #63B8FF;*/
	padding:100px;
	color:white;    
 	
 }
 /*.aboutMe {
 	text-align: center;
	font-family: times;
	font-size: 20px;
	background:black;
	padding:50px;
	color:white; 

 }*/
.github {
	text-decoration: none;
}
.resume {
	color:white;
	text-decoration: none;	
}

.resume:hover{
	color:blue;
}

 .aboutMe h2 {
 	text-decoration: underline;
 	font-size:35px;
 	color:black;
 }
 li{
	padding-right: 30px;
	display: inline;
}
 #bio {
 /*	line-height: 1.5;
 	font-size:20px;*/
 }

 .container {
 	width: 100%;
 	margin: 0 auto;
 }

/* .picContainer {
 	background: red;
 	height:350px;
 }

 .picContainer p {
 	width: 20%;
 	float:left;
 	color:white;
 	padding:150px;
 }

.picContainer img {
	width:40%;
	float:right;
	
}

*/